@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ApercuRegular";
  src: url('./assets/fonts/apercu-regular.ttf') format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "ApercuMedium";
  src: url('./assets/fonts/apercu-medium.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Apercu";
  src: url('./assets/fonts/apercu-bold.ttf') format('truetype');
  font-weight: bold;  /* Specify the font-weight this font face represents*/
}


@font-face {
  font-family: "CaeciliaLight";
  src: url('./assets/fonts/CaeciliaComLight.ttf') format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "CaeciliaMedium";
  src: url('./assets/fonts/CaeciliaComSemi.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "CaeciliaBold";
  src: url('./assets/fonts/CaeciliaComBold.ttf') format("truetype");
  font-weight: bold;
}

@layer components {
  .primary-btn {
    @apply h-12 w-40 mx-auto lg:ml-0 px-6 py-3 cursor-pointer 
    font-apercuMedium bg-primary hover:bg-red-800 transform 
    ease-in-out duration-300 text-center text-white rounded-full shadow-xl;
  }
  .secondary-btn {
    @apply h-12 w-52 mx-auto lg:ml-0 px-6 py-3 cursor-pointer 
    font-apercuMedium bg-secondary hover:bg-gray-800 transform 
    ease-in-out duration-300 text-center text-white rounded-full shadow-xl;
  }
}

@layer utilities {
  .shadow-1 {
    @apply drop-shadow-[-15px_15px_15px_rgba(0,0,0,0.5)];
  }
}

/* Background image for the hero and navbar */
.background-image {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* No background image here */
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('./assets/largo1.jpeg');
  background-size: 100% 95%; /* Adjusted as per your original settings */
  background-repeat: no-repeat;
  background-position: center top;
  filter: brightness(50%);
  z-index: -1;
}


.background-image-process, .background-image-community, .background-image-about,
.background-image-referrals, .background-image-menu, .background-image-catering  {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* Remove direct background image settings */
}

.background-image-process::before,
.background-image-about::before,
.background-image-catering::before,
.background-image-menu::before,
.background-image-community::before,
.background-image-referrals::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: center top;
  z-index: -1;
  filter: brightness(40%); /* Example filter, apply as needed */
}

.background-image-process::before {
  background-image: url('./assets/steeplechase.jpg');
}

.background-image-menu::before {
  background-image: url('./assets/menu.jpg');
}

.background-image-community::before {
  background-image: url('./assets/community.jpg');
}

.background-image-referrals::before {
  background-image: url('./assets/referral.jpeg');
}

.background-image-catering::before {
  background-image: url('./assets/cateringPic.jpeg');
}

.background-image-about::before {
  background-image: url('./assets/aboutus.jpeg');
}




.nav-transparent {
  background: none;  /* No background */
  box-shadow: none;  /* No shadows */
  border: none;      /* No borders */
  position: absolute;   /* Fix position relative to the viewport */
  top: 0;            /* Align the top edge of the element with the top of the viewport */
  left: 0;           /* Align the left edge of the element with the left of the viewport */
  width: 100%;       /* Stretch the navbar to cover the full width of the viewport */
  z-index: 1000;     /* Ensure the navbar is above other content */
}


