@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("apercu-regular.ttf"),
  url('./assets/fonts/apercu-regular.ttf') format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("apercu-medium.ttf"),
  url('./assets/fonts/apercu-medium.ttf') format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("apercu-bold.ttf"),
  url('./assets/fonts/apercu-bold.ttf') format("truetype");
}

@layer components {
  .primary-btn {
    @apply h-12 w-40 mx-auto lg:ml-0 px-6 py-3 cursor-pointer 
    font-apercuMedium bg-primary hover:bg-red-800 transform 
    ease-in-out duration-300 text-center text-white rounded-full shadow-xl;
  }
}

@layer utilities {
  .shadow-1 {
    @apply drop-shadow-[-15px_15px_15px_rgba(0,0,0,0.5)];
  }
}